.wrapper {
	border: solid black 1px;
	text-align: center;
	padding-bottom: 20px;
	height: auto;
	width: 400px;
}
.box {
	display: inline-block;
	height: 20%;
	width:20%;
	border: solid black 1px;
}
.box.wrong {
	/*display: none;*/
	background-color: red;
	color: white;
}.box.correct {
	/*display: none;*/
	background-color: green;
	color: white;
}
#showme {
	display: inline-block;
}
