<!DOCTYPE html>
<!--
======================================================
______    _ _           ______    _     _             
|  ___|  | | |          |  ___|  (_)   | |            
| |_ __ _| | |_ ___ _ __| |_ _ __ _  __| | __ _ _   _ 
|  _/ _` | | __/ _ \ '__|  _| '__| |/ _` |/ _` | | | |
| || (_| | | ||  __/ |  | | | |  | | (_| | (_| | |_| |
\_| \__,_|_|\__\___|_|  \_| |_|  |_|\__,_|\__,_|\__, |
                                                 __/ |
                                                |___/ 
======================================================
Owner Name: Patrick A. Todd
Profile: https://www.github.com/falterfriday
Blog: https://falterfriday.wordpress.com/
Version: 0.2
Description: Never Stop Learning
======================================================
-->
<html>
<head>
	<title>The Great Number Game</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div class="wrapper jumbotron">
		<h1>Welcome to the Great Number Game!</h1><br>
		<h4>I am thinking of a number between 1 and 100<br>
		Take a guess!</h4>
		{% if 0 < session['guess'] < session['number'] %}
		<div class="box wrong">Too Low!</div><br>
		{% elif session['guess'] > session['number'] %}
		<div class="box wrong">Too High!</div><br>
		{% elif session['guess'] == session['number'] %}
		<div class="box correct">{{number}} was the number!<br>
		<form action="clear">
			<input type='submit' name='clear' value="Play Again!" class="btn btn-danger">
		</form>
		</div>
		{% endif %}
		<form id='main' method='post' action='/submit'>
			<input type="text" name="guess" placeholder="Number Goes Here"><br>
			<input type="submit" class='btn btn-primary' name="submit" value="Submit">
		</form>
	</div>
</body>
</html>