<!DOCTYPE html>
<!--
======================================================
______    _ _           ______    _     _             
|  ___|  | | |          |  ___|  (_)   | |            
| |_ __ _| | |_ ___ _ __| |_ _ __ _  __| | __ _ _   _ 
|  _/ _` | | __/ _ \ '__|  _| '__| |/ _` |/ _` | | | |
| || (_| | | ||  __/ |  | | | |  | | (_| | (_| | |_| |
\_| \__,_|_|\__\___|_|  \_| |_|  |_|\__,_|\__,_|\__, |
                                                 __/ |
                                                |___/ 
======================================================
Owner Name: Patrick A. Todd
Profile: https://www.github.com/falterfriday
Blog: https://falterfriday.wordpress.com/
Version: 0.2
Description: Never Stop Learning
======================================================
-->
<html>
<head>
	<title>The Great Number Game</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="wrapper">
	<h1>Welcome to the Great Number Game!</h1>
	<h4>I am thinking of a number between 1 and 100<br>
	Take a guess!</h4>
	<div class="box wrong" id="{{showme1}}">Too Low!</div>
	<br>
	<div class="box wrong" id="{{showme2}}">Too High!</div><br>
	<div class="box correct" id="{{showme3}}">{{number}} was the number!<br>
	<button name='clear'>Play again!</button>
	</div>

	<form method='post' action='/submit'>
		<input type="text" name="guess" placeholder="Number Goes Here"><br>
		<input type="submit" name="submit" value="Submit">
	</form>

</div>
</body>
</html>